@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


#home_main{
    background-image: url("../Images/garageWallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#piano_main{
    background-image: url("../Images/piano_cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}